h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: #336600;
	font-style: normal;
	font-weight: normal;
}
h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #468C00;
	font-style: normal;
	font-weight: normal;
}
body {
	font-family: "Tw Cen MT", Calibri;
	font-size: 13pt;
	color: #000;
}
a {
	color: #060;
}


